<!DOCTYPE html>
<html>
<head>
	<title>It works?</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.4/socket.io.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body>

<input id="textArea" type="text" size="40"><button id="submitBtn">Submit!</button>

<div id="chatBox">
	<h1>Chat goes here!</h1>
</div>

</body>

<script>
  var socket = io('http://192.168.1.138:3000');
 
  $('button#submitBtn').click(function(){
  	var msg_text = $('input#textArea').val();
  	socket.emit('msg', msg_text);
  });

  socket.on('msg', function(msg){
  	console.log(msg);
  	$('div#chatBox').append(msg + '\n');
  });

</script>

</html>